{% extends 'base.html.twig' %}

{% block title %}Arrivées du jour{% endblock %}

{% block body %}

<h1>Service<h1>
{{ service }}

<h1>Séjours en cours</h1>

<table>
    <thead>
        <tr>
            <th>Patient</th>
            <th>Lit</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
    
        {% for s in lesSejours %}
            <tr>
                <td>{{ s.patient_id }}</td>
                <td>{{ s.lit_id }}</td>
                <td><a href="{{ path('app_valider_sorties', {id: s.id}) }}">Sortir</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}